<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ep.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EP</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="35" />
    <!-- File Storage Preference - Use Internal for modern Android -->
    <preference name="AndroidPersistentFileLocation" value="Internal" />
     <!-- Android Platform -->
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />         
    </platform>
</widget>
